<div class="container">
<h1>Editing Employee</h1>

  <%= render partial: 'form', locals: { form_path: employee_path(@employee.dig("id")), form_method: :put, 
                                        name: @employee.dig("name"), position: @employee.dig("position"),
                                        salary: @employee.dig("salary"), date_of_birth: @employee.dig("date_of_birth") } %>
</div>
<br>