<!-- Editing Employee Form -->
<div class="container">
  <h1>Editing Employee</h1>

    <%= form_with(url: employees_path(@employee.dig("id"))) do |form| %>
    <%= render "form", form: form %>
  <% end %>
</div>
