<div class="container">
<h1>New Employee</h1>

  <%= render partial: 'form', locals: { form_path: employees_path, form_method: :post, name: nil,
                                        position: nil, salary: nil, date_of_birth: nil } %>
  <%= link_to "Back", employees_path %>
</div>
